<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            TODO APP
        </h1>

        <script src="https://kit.fontawesome.com/41c8fb69c7.js" crossorigin="anonymous"></script> 
    </body>
</html>